DJANGO_SECRET_KEY = change-me
DJANGO_DEBUG = True
DJANGO_ALLOWED_HOSTS = 127.0.0.1,localhost

POSTGRES_DB=database_name
POSTGRES_USER=database_user
POSTGRES_PASSWORD=database_password
POSTGRES_PORT=5432

DATABASE_URL=postgresql://database_user:database_password@127.0.0.1:5432/database_name

DJANGO_CSRF_TRUSTED_ORIGINS = 